.App {
  text-align: center;
  background-color: #282c34;
  color: white;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.NavBar {
  background-color: black;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
}

.Board {
  background-color: rgb(29, 98, 129);
  width: 72vw;
  padding: 2vw;
  min-height: 70vh;
  margin-top: 15vh;
}

.Board-add-btn {
  background-color: red;

  width: 40px;
  height: 40px;
  border-radius: 100%;

  font-size: 30px;

  position: absolute;
  right: calc(12vw - 20px);
  top: calc(15vh - 20px);
}

.Board-post, .Board-post-add {
  background-color: green;
  position: absolute;
  width: 30vw;
  height: 37.5vw;
  top: 30vh;
  left: 35vw;
}

.Board-head-container {
  background-color: black;
  width: 72vw;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Board-head-title {
  float: left;
  font-size: 8vh;
}

.Post-add {
  background-color: green;
  position: absolute;
  width: 30vw;
  height: 37.5vw;
  top: 30vh;
  left: 35vw;
}

.Post-add-button {
  color: red;
  border: 1px solid;
  width: 5vh;
  height: 5vh;
  font-size: 4vh;
  border-radius: 100%;

  float: right;

  cursor: pointer;
}

.Post-box {
  background-color: rgba(0, 0, 0, 0.371);
  width: 20vw;
  margin: 2vw;
  height: 25vw;
  float: left;
}