body{
  -ms-overflow-style: none;
  background-color: #DAB88B;
}
  
 ::-webkit-scrollbar {
   display: none;
 }


.App {
  font-size: calc(10px + 2vmin);
  color: #8E806A;
}


a {
  text-decoration: none;
  color: #F6F6F6;
  font-weight: bold;
}

button {
  font-size: calc(5px + 2vmin);

  margin-right: 5px;
  margin-bottom: 5px;


  color: #8E806A;

  border: none;
  border-radius: 4px;

  background-color: #fdf6ec90;
}

.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #DAB88B;
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  
}

.Links {
  position: absolute;
  right: 3vw;
}

.Board {
  overflow: scroll;
  background-color: #FDF6EC;
  width: 72vw;
  margin-left: 12vw;
  margin-top: 15vh;
  padding: 2vw;
  height: calc(85vh - 4vw);

  /* height: 75vh; */

  border-radius: 10px;

}

.Post-box, .Post-box-user {
  background-color: #F3E9DD;

  width: calc(16vw - 40px);
  height: calc(16vw * 1.25);

  margin: 1vw;
  padding: 20px;

  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  float: left;
}

/* 조금 작은 화면 */
@media(max-width: 1100px) {
  .Post-box, .Post-box-user {
    width: calc(20vw - 40px);
    height: calc(20vw * 1.25);
    margin: 2vw;
  }
}

/* 조금 작은 화면 */
@media(max-width: 750px) {
  .Post-box, .Post-box-user {
    width: calc(30vw - 40px);
    height: calc(28vw * 1.25);
    margin: 3vw;
  }
}

.Post-box-user {
  background-color: #B7CADB;
}

.Post-box-userID {
  font-size: calc(5px + 2vmin);

  position: absolute;
  bottom: 5px;
  right: 5px;
}

.Post-modal, .Post-add-modal {
  overflow: scroll;
  white-space: pre-line;

  background-color: #F3E9DD;
  /* filter: brightness(92%); */

  border: 2px solid;
  border-radius: 10px;

  width: 195px;
  height: calc(195px * 1.25);
  padding: 3vw;

  position: absolute;
  top: calc(50vh - 195px * 1.25 / 2);
  left: calc(50vw - 195px / 2 - 3vw);
}

.Post-modal-user, .Post-add-modal-user {
  background-color: #B7CADB;
}

.Post-modal-input-title {
  margin-top: calc(5px + 2vmin + 10px);
  padding: 5%;
  width: 90%;
  height: 5%;
  border: none;
  border-radius: 10px;
  font-size: calc(5px + 2vmin);
  color: #8E806A
}

.Post-modal-input-content {
  padding: 5%;
  width: 90%;
  height: 60%;
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  font-size: calc(5px + 2vmin);
  color: #8E806A
}

.Post-modal-btn-group {
  position: inherit;
  top: 10px;
  right: 10px;
}

.Post-add-btn-group {
  width: 3vw;
  position: absolute;
  top: 16vh;
  right: calc(12vw - 3vw + 2px);
}

.Post-add-btn-group button {
  padding: 10px;
}


.SignIn, .SignUp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignIn input, .SignUp input {
  width: 300px;
  padding: 2vw;
  border: none;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);

  color: #8E806A
}

.SignIn button, .SignUp button {
  height: 50px;
  width: 100px;
  font-size: calc(10px + 2vmin);
}